@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {

    --primary-color: #1d1d19;
    --secondary-color: #282927;
    --tertiary-color: #FFC632;
    --white-color: #fff;

    --transition: all 0.25s ease-in-out;

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
}

/* class */

i {
    cursor: pointer;
}

span {
    font-weight: bold;
}

hr {
    height: 0.1rem;
}

img {
    border-radius: 0.5rem;
    color: var(--white-color);
}

.flex {
    display: flex;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.border {
    background-color: var(--primary-color);
    margin: 0.75rem auto;
    width: 10rem;
    height: 0.2rem;
}

.warning {
    color: var(--tertiary-color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font: normal 600 0.8rem 'Poppins', sans-serif ;
    color: azure;
}

.form-button {
    background-color: #FFC632;
    width: 100%;
    padding: 0.85rem 2.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: var(--transition);
}

.form-button:hover {
    background-color: hsl(43, 75%, 52%);
}

.btn-buy-now {
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius-1);
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.btn-buy-now:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.scrollbar-personalized::-webkit-scrollbar {
    width: 0.25rem;
}

.scrollbar-personalized::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 99rem;
}

.scrollbar-personalized-white::-webkit-scrollbar-thumb {
    background: var(--white-color);
    border-radius: 99rem;
}

/* End class */

body {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: var(--primary-color); 
}

header a, i {
    color: var(--white-color);
    transition: var(--transition);
}

header i:hover,a:hover {
    color: var(--tertiary-color);
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 0.75rem;
    padding: 0.3rem;
    border-radius: var(--border-radius-1);
    transition: 0.6s;
}

nav ul li.user a {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius-2);
}

nav ul li.user a:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.menu-icon {
    display: none;
}

/* Navbar cart */

.travelsInCart {
    display: none;
}

.travelsInCart.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 100%;
    width: 31.25rem;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    right: 0;
    z-index: 2;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: right;
    padding: 1.1rem;
}

.main {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
}

.travelInCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.travel-name {
    display: grid;
    gap: 1rem;
}

.travelInCart img {
    width: 15rem;
    height: 10rem;
}

input#qty {
    width: 2.5rem;
    height: 1.5rem;
    border: none;
    border-radius: var(--border-radius-1);
    text-align: center;
}

.total {
    padding-top: 0.5rem;
    text-align: right;
}

/* End Navbar cart */

/* Home */

section#home {
    padding: 2rem;
}

.content {
    animation: home 1s backwards;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.content #message {
    padding: 1rem;
}

.content p {
    margin: 1.75rem 0;
}

.content a#explore {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: var(--border-radius-1) 1.8rem;
    border-radius: 1.7rem;
    transition: 0.6s;
}

a#explore:hover {
    background-color: var(--secondary-color);
}

.content img {
    max-width: 100%;
    max-height: 500px; 
} 

/* End home */

/* Travels */

#travels {
    max-width: 80%;
    margin: 4rem auto;
    height: 100%;
}

.arrow-left, .arrow-right {
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 2rem;
    bottom: 0;
    padding: 1.5rem;
    color: var(--primary-color);
    transition: all 400ms ease-in-out;
    opacity: 0.6;
    cursor: pointer;
    border: none;
    clip-path: circle();
}

.arrow-left {
    text-align: left;
    right: auto;
}

.arrow-right {
    text-align: right;
    left: auto;
    right: 0;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.gallery-wrapper {
    position: relative;
}

.gallery::-webkit-scrollbar {
    overflow-x: hidden;
}

.gallery {
    display:flex;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 2rem;
    overflow-x: auto;
}

.gallery .travel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.gallery .travel .item {
    width: 20rem;
    height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    opacity: 0.5;
    transition: all 500ms ease-in-out;
}

.gallery .travel .current-item {
    border: 0.25rem solid var(--primary-color);
    opacity: 1;
}

.travel a {
    font-weight: bold;
    color: var(--white-color);
    transition: 0.6s;
} 

.travel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.travel .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.travel .overlay:hover {
   opacity: 1;
}

.overlay button {
    background: transparent;
}

.overlay button, .overlay a {
    font-size: 1rem;
    width: 8rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin: var(--border-radius-1);
    border-radius: 0.1rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.overlay button:hover, .overlay a:hover {
    background-color: var(--secondary-color);
}

/* Contact */

section#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container {
    display: flex;
    max-width: 80%;
    min-height: calc(100vh - 7rem);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    animation: form 500ms;
}

.form-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
    background-color: var(--primary-color);
}

.form-image img {
    width: 100%;
}

#contact .form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border-radius: 0;
    padding: 1rem 2rem;
    overflow-y: auto;
}

/* End Contact */

/* Animation Modal Start */

@keyframes form {
    
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes fade {
    
    from {
        opacity: 0;
        transform: translateX(-35%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
    
}

@keyframes home {
    
    from {
        opacity: 0;
        transform: translateY(-35%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
    
}

/* End Animation */

/* travel */

section#travel {
    max-width: 80%;
    margin: 2rem auto;
    height: 100%;
    height: calc(100vh - 13.3rem);
}

#travel .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 1rem 2rem;
}

#travel .content img {
    height: 15rem;
    object-fit: contain;
    border-radius: var(--border-radius-2);
}

.travel-info {
    display: grid;
    gap: 1rem;
}

.travel-data {
    display: grid;
    align-content:space-around;
    width: 24.5625rem;
    height: 15rem;
}

.content p#description {
    margin: 0;
    padding: 0.5rem;
    text-align: justify;
    overflow-y: auto;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
}

/* Messages */

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    width: 30rem;
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: var(--border-radius-1);
    color: var(--white-color);
}

#failed-message h3 {
    color: rgb(233, 61, 61)
}

#success-message h3 {
    color: limegreen;
}

.message a {
   background-color: var(--primary-color);
   color: var(--white-color);
   padding: 0.75rem;
   border-radius: var(--border-radius-1);
}

/* Footer */

footer .footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2rem 0;
}

footer .footer .social-media {
    display: flex;
    align-items: center;
}

footer .footer .social-media .brand {
    font-size: 1.25rem;
    margin-left: 1rem;
    transition: .5s;
}

footer .footer .social-media .brand:hover {
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* End footer */

/* Sign in and Sign Up */

main#login {
    display: flex;
    font-size: 0.625rem;
    height: 100%;
    background: var(--primary-color);
}

.form-section {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.form-header {
    display: flex;
    justify-content: flex-start;
    padding: 1.25rem 2.5rem;
}

.form-div {
    background-color: #22241f;
    width: 35.75rem;
    margin: 1.5rem 3.25rem;
    padding: 2.75rem 7rem;
    border-radius: var(--border-radius-1);
}

.form-div #title {
    display: flex;
}

.form-div #title h1 {
    font-style: normal;
    font-weight: 600;
    color: #D4CCB6;
    margin-left: 0.75rem;
}

.form-div #subtitle p {
    font-style: normal;
    font-weight: 400;
    color: #D4CCB6;
    padding-top: 0.3rem;
}

.form-div form {
    margin-top: 1.75rem;
}

.fields, label {
   font-style: normal;
   font-weight: 500;
   line-height: 1.25rem;
   margin-bottom: 1.25rem;
   color: #AFB6C2
}

.fields input, textarea {
   background: none;
   margin-top: 0.25rem;
   width: 100%;
   height: 1.75rem;
   border: 0.1rem solid #868686;
   outline: none;
   color: whitesmoke;
   text-align: center;
   resize: none;
}

.fields textarea {
    text-align: left;
    height: 4rem;
    padding: 0.5rem;
}

.fields input::placeholder {
    background-size: 0.9rem;
    display: flex;
    font-style: normal;
    background-position: 0.6rem 0.2rem;
    background-repeat: no-repeat;
    padding: 0.1rem 1.9rem;
}

.fields input[type="email"]::placeholder {
    background-image: url(../img/icons/mail_disabled.svg);
}

.fields input[type="password"]::placeholder {
    background-image: url(../img/icons/lock.svg);
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
} 

textarea:focus::-moz-placeholder {  /* Command to Firefox 19+ */
    color: transparent;  
 }
 
.fields input:focus-within {
    border: 0.1rem solid #FFC632;
    background-size: 0.9rem;
    background-position: 0.6rem 0.45rem;
    background-repeat: no-repeat;
}

.fields textarea:focus-within {
    border: 0.1rem solid #FFC632;
}

.fields input[type="email"]:focus-within {
    background-image: url(../img/icons/mail.svg);
}

.fields input[type="password"]:focus-within {
    background-image: url(../img/icons/lock_activated.svg);
}

#help {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
}

#help label {
    font-style: normal;
    font-weight: 400;
    color: #A9AFB9;
}

form a {
    display: block;
    margin-top: 0.85rem;
    text-align: center;
    color: var(--tertiary-color);
}

section.image {
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* End Sign in or Sign Up */

/* Resposivity */

@media screen and (max-width: 768px) {

    #menu {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: var(--white-color);
        transition: 0.35s;
    }

    #contact .form-image {
        display: none;
    }

    main#login {
        display: block;
    }

    main#login .form-div {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        padding: 1rem;
    }
}

/* End responsivity */