@media screen and (max-width: 1440px) {
    section.image {
        display: none;
    }

    .form-section {
        width: 100vw;

        .form-div {
            padding: 2rem;
            width: 90%;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 1.25rem 2rem;

        nav {
            ul#menu {
                display: none;
            }
        }

        .user-actions {
            display: none;
        }

        #menu-icon {
            display: block;
        }

        #menu-mobile {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $dark-black-color;
            width: 100vw;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            z-index: 2;
            transition: 0.5s ease-in-out;

            &.activate {
                height: 100vh;
                visibility: visible;
                transition: 0.5s ease-in-out;
            }

            ul {
                @include flex(center);
                flex-direction: column;
                height: 100%;
                gap: 4rem;

                hr {
                    width: 5rem;
                }

                .user-actions {
                    display: flex;
                }
            }
        }
    }

    main#contact #contact-wrapper {
        grid-template-columns: 1fr;
    }

    .travel-header .actions {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 675px) {
    section.form-section .form-header {
        width: 90%;
    }

    section#testimonials .swiper {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    :root {
        font-size: 90%;
    }

    section#about #company-about {
        grid-template-columns: repeat(1, 1fr);

        img {
            height: 100%;
        }
    }

    section#about #company-about img {
        height: 100%;
    }

    section#travels #travels-wrapper {

        grid-template-columns: 1fr;

        .travels .travel {
            grid-template-columns: 1fr;
        }

    }
}
